<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>telephon</key>
	<string></string>
	<key>email</key>
	<string></string>
	<key>password</key>
	<string></string>
	<key>new-password</key>
	<string></string>
	<key>region</key>
	<string></string>
	<key>region/code</key>
	<string></string>
	<key>namestreet</key>
	<string></string>
	<key>street</key>
	<string></string>
	<key>street/code</key>
	<string></string>
	<key>offcity-name</key>
	<string></string>
	<key>error/code</key>
	<string></string>
	<key>list-street/city</key>
	<string></string>
	<key>street-name</key>
	<string></string>
	<key>res-name</key>
	<string></string>
	<key>network-knot</key>
	<string></string>
	<key>date-of-shutdown</key>
	<string></string>
	<key>time-of-shutdown</key>
	<string></string>
	<key>date-of-inclusion</key>
	<string></string>
	<key>time-of-inclusion</key>
	<string></string>
	<key>description-of-shutdown</key>
	<string></string>
	<key>shutdown-type</key>
	<string></string>
	<key>shutdown-reason</key>
	<string></string>
	<key>status-of-shutdown</key>
	<string></string>
	<key>number-adress</key>
	<string></string>
	<key>off-adress</key>
	<string></string>
	<key>load-file</key>
	<string></string>
	<key>last_name</key>
	<string></string>
	<key>first_name</key>
	<string></string>
	<key>middle_name</key>
	<string></string>
	<key>personal_account</key>
	<string></string>
	<key>additional_personal_account</key>
	<string></string>
	<key>dolg</key>
	<string></string>
	<key>valuedate</key>
	<string></string>
	<key>cntvalue</key>
	<string></string>
	<key>fio</key>
	<string></string>
	<key>lfio</key>
	<string></string>
	<key>ldoc</key>
	<string></string>
	<key>lsNom</key>
	<string></string>
</dict>
</plist>
